# 一旦 Jekyll 完成转换，就会将生成的页面放在这里（默认）。最好将这个目录放进你的 .gitignore 文件中。
_site

# 该文件帮助 Jekyll 跟踪哪些文件从上次建立站点开始到现在没有被修改，哪些文件需要在下一次站点建立时重新生成。
# 该文件不会被包含在生成的站点中。将它加入到你的 .gitignore 文件可能是一个好注意。
.jekyll-metadata

# 本地生成文件？
Gemfile
Gemfile.lock
